
.especiales{
    display: grid;
    grid-template-rows: auto 1fr;
    max-width: 120rem;
}

.contenedor-titulo-button{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    height: 4rem;
    padding-top: 2%;
    margin-bottom: 4rem;
}

.contenedor-titulo-button h2{
    font-size: clamp(1.6rem, 4vw, 2.2rem);
    text-align: center;
}

.boton-menu{
    background-color: #F4CE14;
    height: 2rem;
    width: 8rem;
    padding-bottom: 1.8rem
}

.contenedor-especialidades{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 1rem;
}

@media screen and (max-width: 640px) {

    .contenedor-titulo-button{
        flex-flow: column nowrap; 
        place-items: center;
        gap: 2rem;
    }

    .contenedor-especialidades{
        flex-flow: column nowrap;
        place-items: center;
        gap: 2rem;
        margin-top: 2rem;
    }
}
