/* Estilo básico para todo el formulario */


/* Estilo básico para todo el formulario */
.contenedor-datos-usuario {
    max-width: 25.5rem;
    width: 100%;
    padding: 1.25rem;
    font-family: Arial, sans-serif;
  }
  
  .formulario {
    display: flex;
    flex-direction: column;
  }
  
  .formulario-fieldset {
    border: none;
    padding: 0;
  }
  
  .formulario-legend {
    font-size: clamp(1.2rem, 2vw, 1.4rem);
    color: #495e57;
    margin-bottom: 1.25rem;
  }  
