
.container{
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    justify-content: stretch;
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 120rem;
}

@media screen and (max-width: 640px){
    .container{
        padding-left: 0rem;
        padding-right: 0rem;
    } 
}